$workhuntBlue1: #057ab9;
$workhuntBlue2: #0575b1;
$workhuntBlue3: #014970;

body {
  margin: 0;
  padding: 0;
}

.login-wrapper {
  background-color: white !important;
  height: 100vh;
  .login-wrapper-inner {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .heading {
    color: rgba(6, 6, 6, 0.9);
    font-weight: 500;
    font-family: system-ui;
  }

  .sub-heading {
    margin-top: -20px;
    font-family: system-ui;
  }
}

.login-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
  background-color: $workhuntBlue2;
  font-family: system-ui;
  font-size: 18px;
  border-radius: 30px;
  outline: none;
}

.login-btn:hover {
  background-color: $workhuntBlue3;
}

.auth-inputs {
  display: flex;
  gap: 10px;
  width: 300px;
  flex-direction: column;
  .common-input {
    font-size: 16px;
    height: 30px;
    padding: 10px;
    border: 1px solid #2a2a2a;
    outline: none;
    border-radius: 3px;
    margin: 7px 0;
    font-family: system-ui;
  }
  .common-input:focus {
    outline: 1px solid #8dbeeb;
  }
  ::placeholder {
    background-color: white;
    font-family: system-ui;
    font-size: 16px;
  }
}

.workhuntlogo {
  width: 80px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: rgb(5, 4, 4);
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #838278, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: rgb(16, 16, 16);

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #87867d;
    background-color: #eeeeea;
  }
}

.google-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .google-btn {
    width: 300px !important;
  }

  .go-to-signup {
    font-size: 18px;
  }

  .join-now {
    color: $workhuntBlue1;
    font-family: system-ui;
    cursor: pointer;
    font-size: 18px;
  }
}
