.search-results {
  .search-inner:hover {
    background-color: #bbbbbb;
  }

  .search-inner {
    .name {
      font-size: 18px;
      font-family: system-ui;
    }

    img {
      object-fit: cover;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }

    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    display: flex;
  }

  z-index: 100;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  background-color: white;
  height: auto;
  width: 240px;
  top: 60px;
  left: 100px;
  position: absolute;
}

.popup-position {
  z-index: 99;
  top: 65px;
  right: 10px;
  position: absolute;
}

.user-logo {
  cursor: pointer;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  right: 30px;
}

.react-icon:hover {
  color: #007bff;
}

.react-icon {
  cursor: pointer;
  color: #ffffff;
}

.react-icons {
  margin-left: 30px;
  width: 55%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.workhunt-logo {
  margin-left: 20px;
  width: 65px;
}

.topbar-main {
  height: 70px;
  width: 100%;
  background-color: #001f3f;
  display: flex;
  align-items: center;
}

.react-btn {
  color: white;
  background-color: #001f3f;
  border: 1px solid white;
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.react-btn:hover {
  background-color: #007bff;
}

.react-btn:active {
  background-color: #000a1a;
}
