$workhuntBlue1: #0072b1;
$workhuntBlue2: #0073b1;
$workhuntBlue3: #004c75;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

:root {
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  background-color: rgba(224, 224, 224);
  color: #212121;
  font-weight: 400;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.common-input:focus {
  outline: 1px solid $workhuntBlue1;
}

.common-input {
  font-size: 16px;
  font-family: system-ui;
  border-radius: 3px;
  color: #212121;
  border: 1px solid #212121;
  outline: none;
  background-color: white;
  padding: 10px;
  height: 20px;
}

::placeholder {
  font-family: system-ui;
  font-size: 16px;
}

.common-textArea:focus {
  outline: 1px solid $workhuntBlue1;
}

.common-textArea {
  font-size: 16px;
  font-family: system-ui;
  border-radius: 3px;
  color: #212121;
  border: 1px solid #212121;
  outline: none;
  background-color: white;
  padding: 10px;
  resize: none;
}
